<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>Tadaa! This is the info page: here's some information about dem cats!</p>
    </body>
</html>
